stlye.css

ol.menu {

	padding: 0px;
}

span.harry {
	font-size:20px;
li.menu {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	height: 30px;
	width: 150px;
}

li.menu: hover {
	background:blue;
}